{% extends 'appcoder/padre.html' %}
{% load static %}

{% block ContenidoqCambia %}
<body>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">PEDIDOS</h1>


                    </div>
                </div>
            </div>
        </div>
    </header>

    <h3>Confirmación pedido</h3> 
    <H6>Se agregaron correctamente los siguientes articulos </H6>
    <ul>
    {% for producto in productos %}
        <li>{{ producto }}</li>
    {% endfor %}
    </ul>
    <div>
        <a href='{% url "productos" %}' class="btn btn-sm btn-primary">volver</a>
        <a href='{% url "pedidos" %}' class="btn btn-sm btn-success">ir a listado de pedidos</a>
    </div>
   
    

</body>

{% endblock ContenidoqCambia %}
